.ant-flex.rated-list {
  margin: 0 auto;
  width: 1010px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 36px 0;
  background-color: white;
  gap: 36px;
  padding-top: 3px;
}

@media screen and (max-width: 450px) {
  .ant-flex.rated-list {
    width: 100%;
  }
}
